# gradle
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.apt_generated
.factorypath
.project
.settings
.springBeans
.class



# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db

### NetBeans ###
nbproject/private/
build/
bin/
nbbuild/
dist/
nbdist/
.nb-gradle/
